__pycache__/
*.pyc
.vscode/
.idea/
.cursor/

output/
output_dir/
output_init_test/
output_stream_vel_init/
dataset/
data/

*.log
*.dump
*.mp4
*.npy
*.out
*.ply
*.pth
*.pt
*.ckpt
*.so

*.egg-info/
build/
dist/
screenshots/
tensorboard_3d/
wandb/
